* {
    margin: 0px;
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #433;
    font-family: Arial, Helvetica, sans-serif;
}
.main--container {
    display: flex;
    height: 500px;
    width: 500px;
    flex-direction: column;
    align-items: center;
}
.grid--container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.key {
    width: 80px;
    height: 80px;
    border: 2px solid #FFF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}
.key.active {
    border: 2px solid #FF0;
    color: #FF0;
}
.composer--area {
    margin-top: 20px;
    width: 275px;
}
.composer--area input {
    height: 30px;
    width: 268px;
    outline: none;
    font-size: 15px;
}
.change--button {
    margin-top: 10px;
    height: 40px;
    width: 275px;
}
.change--button button {
    height: 100%;
    width: 100%;
    color: white;
    cursor: pointer;
    background: none;
    font-size: 16px;
    border: 3px solid white;
    font-weight: bold;
}
.change--button button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

